@font-face {
    font-family: 'klubb';
    src: url('../fonts/klubb.ttf?fxc8be') format('truetype'),
    url('../fonts/klubb.woff?fxc8be') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="klubb-"], [class*=" klubb-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'klubb' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.klubb-klubb_plain:before {
    content: "\e900";
}
.klubb-klubb_menu:before {
    content: "\e901";
}
