.grid-1 {
    flex-basis: 7%;
}

.grid-2 {
    flex-basis: 16.666666666%;
}

.grid-3 {
    flex-basis: 25%;
}

.grid-4 {
    flex-basis: 33.333333333%;
}

.grid-5 {
    flex-basis: 41.666666666%;
}
.grid-5_5 {
    flex-basis: 48%;
}
.grid-1_5{
    flex-basis: 4%;
}

.grid-6 {
    flex-basis: 50%;
    /* padding: 0.5em; */
}

.grid-7 {
    flex-basis: 58.333333333%;
}

.grid-8 {
    /* overflow:  hidden; */
    max-width: 66.6%;
    flex-basis: 66.666666666%;
}

.grid-9 {
    flex-basis: 75%;
}

.grid-10 {
    flex-basis: 83.333333333%;
}

.grid-11 {
    flex-basis: 91.666666666%;
}

.grid-12 {
    flex-basis: 100%;
    /* position:  relative; */
}

.gutter .grid {
    padding: 0 2.5px;
}

.gutter .grid:first-child {
    padding-left: 0;
}

.gutter .grid:last-child {
    padding-right: 0;
}
